@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
.frm{
  margin: auto;
  text-align: center;
  width: 50%;
}
.content{
  margin:auto;
  width: 100%;
  text-align: center;
  /*border: 1px solid black;*/
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.card {
  border: 1px solid black;
  border-radius: 0.25rem;
  width: 300px;
  margin: auto;
  margin: 10px;
}
.image {
  height: 300px;
  width: 200px;
}
#products {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #ddd;
}

#products td,
#products th {
  border: 1px solid #ddd;
  padding: 12px;
}

#products tr:hover {
  background-color: #ddd;
}

#products th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.opration {
  text-align: center;
}

.button {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}

.button:active {
  border: 1px solid blue;
}
@media (max-width: 640px) {
  .content{
    margin-top: 20px;
    width: 100%;
  }
  .frm{
    margin-top: 20px;
    width: 100%;
  }
  #products{
       display: block;
       overflow-x: auto;
  }
}
