@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.card {
  border: 1px solid black;
  border-radius: 0.25rem;
  width: 300px;
  margin: 10px;
}
.image {
  height: 300px;
  width: 200px;
}
#product {
  border-collapse: collapse;
  border: 3px solid #ddd;
}

#product td,
#product th {
  border: 1px solid #ddd;
  padding: 12px;
}

#product tr:hover {
  background-color: #ddd;
}

#product th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.opration {
  text-align: center;
}

.button {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}

.button:active {
  border: 1px solid blue;
}
