.btnAdd{
  width: 200px;
  height: 60px;
  min-width: 200px;
  display: block;
}
@media (max-width: 640px) {
  ._card{
    /*border: 1px solid black;*/
    border-radius: 0.25rem;
    width: 95%;
    margin: 10px;
  }
  .btnAdd{
    width: 100%;
  }
}
